section.feature

  .feature__box
    .feature__head
      svg(viewBox="0 0 74.696 72.345", role='icon', class='feature__icon feature__icon_house')
        use(xlink:href='#icon-house')
      h3.h-lvl-3.feature__title Жилье
    p.desc.feature__desc Рекомендуем пожить&nbsp;в настоящем мотеле, все как&nbsp;в кино!

  .feature__box
    .feature__head
      svg(viewBox="0 0 63 75.084", role='icon', class='feature__icon feature__icon_gift')
        use(xlink:href='#icon-gift')
      h3.h-lvl-3.feature__title Сувениры
    p.desc.feature__desc Не&nbsp;только&nbsp;китайского,&nbsp;но&nbsp;и местного производства!

  .feature__box
    .feature__head
      svg(viewBox=viewBox="0 0 76.166 68.959", role='icon', class='feature__icon feature__icon_burger')
        use(xlink:href='#icon-burger')
      h3.h-lvl-3.feature__title Еда
    p.desc.feature__desc Всегда заказывайте фирменный бургер,&nbsp;вы&nbsp;не разочаруетесь!