.reason

  .reason__content
    h2.h-lvl-2.reason__title Там есть мост дьявола
    span.numb.reason__numb  №2 
    p.desc.reason__desc Да, по&nbsp;нему можно пройти! Если конечно вы&nbsp;осмелитесь

  //- Декоративный блок с изображением
  .reason__decor.reason__decor_bridge