.reason.reason_gray
  section.reason__box
    h2.h-lvl-2.reason__title Небольшая площадь
    span.numb.reason__numb  №3
    p.desc.reason__desc Все достопримечательности находятся очень близко
  section.reason__box
    h2.h-lvl-2.reason__title Красивая дорога
    span.numb.reason__numb  №4
    p.desc.reason__desc Ехать в седону из лас-вегаса совсем не скучно!
  section.reason__box
    h2.h-lvl-2.reason__title Мало туристов
    span.numb.reason__numb  №5
    p.desc.reason__desc Большинство едет в гранд каньони толпится там
