.reason

  .reason__content
    h2.h-lvl-2.reason__title Настояший городок
    span.numb.reason__numb  №1 
    p.desc.reason__desc Cедона не&nbsp;атракцион для туристов, там течет своя жизнь

  //- Декоративный блок с изображением
  .reason__decor.reason__decor_city