@import '../../node_modules/normalize.css/normalize.css';
@import 'config/vars';
@import 'config/base';
@import 'config/fonts';
@import 'utils/smart-grid';

html, body { height: 100%; }

body {
  display: flex;
  flex-direction: column;
  background-image: url(..img/test.jpg);
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.wrapper {
  @include wrapper;
  background: grey;
}

p {
  @include row-flex();
  @include size-lg(6);
  @include size-md(8);
  @include size-xs(12);
}

@import '../modules/modules';