.hotels {
  overflow-y: hidden;
  
  &__head {
    padding-top: 32px;
    padding-bottom: 30px;
    text-align: center;
    background-color: $white;
  }

  &__title {
    margin-bottom: 25px;
  }

  &__desc {
    max-width: 257px;
    margin: 0 auto;
  }

  &__button {
    position: relative;
    display: block;
    width: 100%;
    border: 0;
    padding: 36px 0 34px;
    font-size: rem(18px);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: inherit;
    background-color: $button-color;
    color: $white;
    cursor: pointer;
  }
}

.hotels-search {
  position: absolute;
  z-index: -1;
  transform: translateY(-100%);
  transition: transform 250ms ease, opacity 250ms ease;
  opacity: 0;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .5);

  &_open {
    transform: translateY(0);
    opacity: 1;
  }

  &__inner {
    padding: 30px 20px 50px;
  }

  &__row {
    display: flex;
  }

  &__row > * {
    width: rem(38px);
    height: rem(38px);
  }

  &__box {

    &_people {
      max-width: 114px;
      display: inline-flex;
      flex-direction: column;
    }

    &_children {
      margin-left: auto;
    }
  }

  &__box_gap {
    margin-bottom: 14px;
  }


  &__title,
  &__value {
    text-transform: uppercase;
    font-size: rem(14px);
    font-weight: 700;
  }


  &__button,
  &__value {

    &:focus {
      z-index: 1;
    }
  }

  &__value:not(.hotels-search__value_number) {
    padding: 14px;
  }

  &__value_number {
    @extend .tac;
    padding: 0.4em;
  }

  &__title {
    display: block;
    padding: 14px;
    
    &::after {
      content: ':';
      font: inherit;
    }
  }

  &__value {
    display: block; 
    background-color: $gray;
    border: none;
    font-family: inherit;
    color: $black;

    &_people {
      max-width: 100%;
    }

    &_full {
      width: 100%;
    }
  }

  &__button {

    &_value {
      font-size: rem(16px);
      color: #a9a9a9;
    }

    &_main {
      display: block;
      min-width: 280px;
      margin: 45px auto 0;
      padding: 20px;
      font-size: rem(21px);
      font-weight: 700;
      color: $white;
      background-color: $blue;
      text-transform: uppercase;
    }

    &:hover {
      cursor: pointer;
    }
  }
}