extends config/layout
include config/mixins

block vars
  - const title = 'Главная страница'

block links
  link(rel="stylesheet", href="css/main.min.css")
  link(rel="preconnect", href="https://fonts.gstatic.com")
  link(href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet")

block content
  include ../modules/intro/intro
  include ../modules/reason/reason
  include ../modules/feature/feature
  include ../modules/reason/reason-second
  include ../modules/reason/reason-third
  include ../modules/hotels/hotels