extends config/layout

block vars
  - const title = 'Title'

block content
  p.
    Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Единственное, своего повстречался переписали все ее послушавшись эта пунктуация своих!

  p Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты.