.nav {

  &__button {
    position: absolute;
    top: 12px;
    right: 15px;
    z-index: 1;
    line-height: 0;
  }

  &__icon {
    fill: $blue;
    appearance: none;
  }

  &__list {
    display: none;
    position: relative;
    list-style-type: none;
    background-color: $blue;
  }

  &__item {
    box-shadow: 0 -1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  }

  &__link {
    display: block;
    font-size: $fs-medium;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: $white;
    text-align: center;
    line-height: 1;
    padding: rem(18.5px) 0;
  }

  &__logo {
    text-align: center;
  }
}

.nav.nav_opened {
  .nav__list {
    display: block;
  }

  .nav__icon {
    fill: $white;
  }
  
  .icon-nav-toggle__open  {
    display: block;
  }
}