nav.nav
  button(type='button').button.nav__button.js-toggle
    svg(width="23" height="22")
      use.nav__icon(xlink:href='#icon-menu')

  ul.nav__list
    each value in nav
      li.nav__item: a.nav__link(href= value.link)= value.title

    
  .nav__logo
    include ../../components/main-logo/main-logo