section.intro
  h2.visually-hidden Добро пожаловать в ущелье!
  .container.intro__inner

    .intro__box.intro__box_first
      svg(role='text').intro__text-svg.intro__text-svg_first
        title Welcome
        use(xlink:href='#text-welcome')

      svg(role='text').intro__text-svg.intro__text-svg_second
        title to the gorgeus
        use(xlink:href='#text-tothegorgeous')

    .intro__box.intro__box_second
      svg(viewBox="0 0 459.755 79.804", role='text').intro__text-svg.intro__text-svg_main
        title Sedona
        use(xlink:href='#text-sedona')

    .intro__box.intro__box_third
      svg(viewBox="0 0 293.826 79.393", role='text').intro__text-svg.intro__text-svg_last
        title Because the Grand Canyon
        use(xlink:href='#text-becausecanyon')