.main-logo
  svg(width="138" height="75").main-logo__svg
    use(xlink:href='#form-logo-triangle')
  a.main-logo__link(href="/")
    img.main-logo__img(
      src="img/logo-sedona@1x.png",
      alt="Логотип города Седона",
      srcset="img/logo-sedona@2x.png 2x,\
        img/logo-sedona@3x.png 3x"
      )